* {
	margin: 0%;
	padding: 0%;
}
.header {
	height: 250px;
	background-color: #241468;
	padding: 4%;
}
.name {
	color: #f64c57;
	font-size: 60px;
	font-weight: 900;
	margin-left: auto;
	margin-right: 200px;
}
.name:hover{
	color: white;
}
@media (max-width: 1250px) {
	.name {
		display: none;
	}
}

.inputBox-searchBtn {
	height: 50px;
	border: none;
}
.searchBtn {
	font-size: 20px;
	font-weight: 900;
}
.main {
	height: auto;
}
.footer {
	position: fixed;
	background-color: #241468;
	font-family: Georgia, 'Times New Roman', Times, serif;
	width: 100%;
	bottom: 0%;
	height: auto;
}
.icons{
	color: #f64c57;
	margin: 30px 50px;
}

.cards{
	background-color: #790252;
	min-width: 250px;
	max-width: 300px;
	min-height: 300px;
	color: white;
	margin: auto;
	margin-top: 100px;
	
}